
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 30px;
    color:#878787;
   
  }
  h1 {
    color: #878787;
    font-size: 35px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
  }

em {
    font-size: 20px;
    margin: 20px 0;
   
}

  li {
    color: #878787;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
    text-align: left;
    padding: 5px;
    margin: 0;
  
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
 
  }
  
  
  form {
    position: relative;
    left: 0;
    right: 0;
    top: 28px;
    display: block;
    margin: 0 auto;
    max-width: 450px;
  }
  
  p {
    font-size: 45px;
  }
  
  hr {
    margin-top: -200px;
    margin-bottom: 2rem;
  }

  .weather-wrapper {
    display: grid;
  }
  
  .container {
    border: 1px transparent #878787;
    max-width: 1015px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background:  linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
   

  }
  
  .search-form {
    margin-bottom: 20px;
    
  }
  .row {
    margin-bottom: 30px;
    margin-right: -185px;
    margin-left: 35px;
    padding: 0px 5px;

  }
 
  .city {
    margin-top: relative;
    color: #878787;
    font-size: 100px;
    font-weight: 100;
    line-height: 28px;
    margin: 10px;
  }

  .temperature {
    color: #878787;
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
  }

  .units {
    position: relative;
    font-size: 25px;
    font-weight: 15px;
    margin: 10px;
    display: inline;
  }

 .weather-temperature strong {
  color: black;
  font-weight: lighter;
  font-size: 64px;
 }

 .weather-temperature .units {
  position: relative;
 }
.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-temperature .active {
  color: #878787;
  cursor: default;
}
.signature {
 padding-left: 450px;
 position: fixed;
 font-size: 20px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
  
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
